<%= form_with(model: @user_survey_taken, :method => :post ) do |form| %>
  <h3>TAKE SURVEY</h3>
  <table id="survey_taken_block" rules="all" style="border: 2px solid black;" >
    <tr>
      <td>
        <%= "Title" %>
      </td>
      <td>
        <%= @survey.survey_text%>
      </td>
    </tr>

    <tr>
      <td>
        <%= "Description" %>
      </td>
      <td>
        <%= @survey.description%>
      </td>
    </tr>

  </table>

  <h3>QUESTIONS</h3>
    <div id='option_responses'>
    <hr>
    <% indx = 0 %>
    <%= form.fields_for :option_responses do |option_response_form| %>
      <hr>
      <%= option_response_form.hidden_field :survey_id, value: @survey.id %>
      <% question_id = @user_survey_taken.option_responses.to_a[indx].question_id %>
      <%= option_response_form.hidden_field :question_id, value: question_id %>
      <% question_text = @survey.questions.select{ |q| q.id == question_id }.first.question_text %>
      <% option_id = @user_survey_taken.option_responses.to_a[indx].option_id %>
      <%= option_response_form.hidden_field :option_id, value: option_id %>
      <% question = @survey.questions.select{ |q| q.id == question_id }.first %>
      <% option_text = question.options.select{ |o| o.id == option_id }.first.option_text %>

      <%= option_response_form.label :question_text %>
      <%= option_response_form.text_field :question_text, readonly:true, value: question_text %>
      <%= option_response_form.label :option_text %>
      <%= option_response_form.text_field :option_text, readonly:true, value: option_text %>

      <%= option_response_form.label :option_selected %>
      <%= option_response_form.checkbox :option_selected %>
      <br>
      <% indx += 1 %>
    <% end %>
    <hr>

    </div>
  <br>

  <% if @user_survey_taken.errors.any? %>
  <h3>ERRORS</h3>
    <div style="color: red">
      <h2><%= pluralize(@user_survey_taken.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% @user_survey_taken.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <br>
  <% end %>

  <div>
    <%= form.submit %>
  </div>

<% end %>
